{{ define "head" }}
	{{ if .Params.featuredImg -}}
	<style>.bg-img {background-image: url('{{.Params.featuredImg}}');}</style>
	{{- else if .Params.images -}}
		{{- range first 1 .Params.images -}}
		<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
{{- if (or .Params.images .Params.featuredImg) }}
	<div class="bg-img"></div>
	{{- end }}
	<main class="site-main section-inner thin animated fadeIn faster">
	<section class="section">
  <div class="container">
    <h1 class="title">{{ .Title }}</h1>
    <div class="content posts-group">
      {{ .Content }}
        <ul class="posts-list">
        {{ range sort .Sections}}
		<li class="post-item h-entry">
					<a href="{{.Permalink}}">
						<span class="post-title p-name">{{.Title}}</span>
						<span class="post-day dt-published">{{ .Date.Format .Site.Params.dateform }}</span>
					</a>
				</li>
        {{ end }}
        </ul>
    </div>
  </div>
</section>
	</main>

{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
